.homePageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.heroSection{
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logoSection{
    display: flex;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    align-items: center;
}

.logoImg{
    width: 100px;
    margin-right: 1rem;
}

.descSection{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;
}

.registerBtn{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 1.8rem;
    background-image: linear-gradient(white, #AFCAFF);
    border: none;
    outline: none;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #1363FD;
    transition: all 0.5s ease;
}

.registerBtn:hover{
    background-image: linear-gradient(white, #a3c1ff);
    transform: scale(1.02);
}

.arrowForwardIcon{
    margin-left: 0.5rem;
}

.downArrow{
    color: white;
    font-size: 1.5rem;
}